button {
    all: unset;
}

.img {
    height: 60px;
    width: 60px;
    max-height: 60px;
    max-width: 60px;
}

.main-container {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
}

.main-container * {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

/* ========= search-bar.jsx =============== */
/* SearchBar */
.has-search .form-control {
    padding-left: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* ========= chat.jsx ====================== */
/* ChatPane */
.flex-grow-1 {
    -ms-flex-positive: 1;
    flex-grow: 1;
}